{% extends 'dictionary/base_design.html' %}

{% block title %}Dictionary{% endblock %}

{% block navigat1 %}
<a href="{% url 'home_eng' %}" class="a_nav">Dictionary</a> |
| <a href="{% url 'grammar_eng' %}" class="a_nav">Grammar</a> |
| <a href="{% url 'about_us_eng' %}" class="a_nav">About us</a>
{% endblock %}

{% block underline %}
    <table class="nav_lang">
        <tr>
            <td class="rus_eng">
                <a href="{% url 'home' %}" class="a_link">
                    <div>
                        <div class="align_lg">r]S'a</div>
                        <div class="add_text_lg">РУС</div>
                    </div>
                </a>
            </td>
            <td class="rus_eng">
                <a href="{% url 'home_eng' %}" class="a_link">
                    <div class="lang_underline">
                        <div class="align_lg">engle'a</div>
                        <div class="add_text_lg">ENG</div>
                    </div>
                </a>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button class="button_login"></button>
            </td>
        </tr>
    </table>
{% endblock %}

{% block aside %}
        <h3 class="options">Options</h3>

            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button name="page" value="main" type="submit" class="submit-bottom">
                    <div class="align">ke'mar'q&</div>
                    <div class="add-label">SEARCH</div>
                </button>
            </form>


{% endblock %}
{% block content %}
         <div class="features">
            <table class = 'resp_dict_ext'>
                <tr>
                        <th>Mando'a</th>
                        <th>Pronunciation</th>
                        <th>English</th>
                        <th>Part of speech</th>
                        <th>Mandor</th>
                        <th>Canon</th>
                </tr>
                <tr>
                    <td colspan=7>
                        {% if words %}
                        {% for el in words %}
                            <table class = 'resp_dict_inn'>
                                <tr>
                                    <td>{{ el.mandoa }}</td>
                                    <td>[{{ el.pronunciation }}]</td>
                                    <td>{{ el.english }}</td>
                                    <td>{{ el.part_of_speech_en }}</td>
                                    <td>{{ el.written }}</td>
                                    <td>{{ el.canon }}</td>
                                </tr>
                            </table>
                        {% endfor %}
                        {% else %}
                        <p>Word not found</p>
                        {% endif %}
                    </td>
                </tr>
             </table>
        </div>
{% endblock %}