@font-face {
    font-family: 'mandoa_tadak';
    src: local('mandoa_tadak'), url('/static/dictionary/fonts/mandoa_tadak.ttf') format('opentype');
}

body {
    background: #2c2c2c;
}

.nav1 {
/*    height: 100px;*/
    height: 13.25vh;
    width: 1370px;
    color: Gainsboro;
    background: linear-gradient(177deg, #021D05 40%, #123524 95%);
}

table.nav_body {
    table-layout: fixed;
    width: 100%;
/*    width: 1370px;*/
    height: 100%;
/*    margin-top: 20px;*/
}

table.nav_body td:nth-child(1) {
    width: 280px;
/*    border: 2px solid gray;*/
}

table.nav_body td:nth-child(2) {
    width: 80%;
/*    border: 2px solid gray;*/
}

table.nav_body td:nth-child(3) {
    width: 180px;
/*    border: 2px solid gray;*/
}

.nav_menu_0 {
    text-align: right;
}

.nav_menu {
    vertical-align: -30px;
    font-size: 120%;
    margin-right: 150px;
}

.a_nav, .a_nav:hover {
    color: #fff;
}

table.nav_lang {
    table-layout: fixed;
    width: 100%;
    height: 80%;
    margin-top: 10px;
    border-collapse: separate;
    border-spacing: 10px;
}

table.nav_lang tr:nth-child(1) td:nth-child(1), table.nav_lang tr:nth-child(1) td:nth-child(2) {
    border: 2px solid green;
    border-radius: 12px;
}

table.nav_lang td:nth-child(1) {
    width: 50%;
/*    border: 2px solid green;*/
}

table.nav_lang td:nth-child(2) {
    width: 50%;
/*    border: 2px solid green;*/
}

.rus_eng {
    font-size: 130%;
    font-family: 'mandoa_tadak';
    text-align: center;
    height: 30px;
}

.lang_underline {
    text-decoration: underline 2px solid #D90909;
}


.a_link, .a_link:hover {
    color: Orange;
    text-shadow: 0px 0px 10px #000;
}

.a_link:hover, .a_link:visited, .a_link:link, .a_link:active {
    text-decoration: none;
}

div.add_text_lg {
    display:none;
    font-family: Impact;
    font-size: 100%;
}

.rus_eng:hover div.align_lg {
    display:none;
}

.rus_eng:hover div.add_text_lg {
    display:block;
}


.button_login {
    height: 10px;
    min-width: 130px;
    background-color: rgba(28,28,28,0);
    border: none;
}


table.nav_brand {
    table-layout: fixed;
    height: 100px;
    width: 280px;
    border-collapse: collapse;
}

table.nav_brand td:nth-child(1) {
  width: 80px;
}

table.nav_brand td:nth-child(2) {
  width: 200px;
}

/*table.nav_brand, td.nav_brand, td.name_brand1, td.name_brand2, td.image_brand, table.nav_body,
td.nav_boby, .rus_eng  {
    border: 2px solid gray;
}*/

td.image_brand {
    padding: 10px 0px 10px 30px;
}

.name_brand1 {
    font-size: 220%;
    font-family: 'mandoa_tadak';
    color: #ff8800;
    text-shadow: 4px 3px 2px #000;
    height: 50px;
    vertical-align: bottom;
    text-align: right;
    padding: 10px 10px 0px 0px;
}

.name_brand2 {
    font-size: 90%;
    color: Gainsboro;
    font-weight: bold;
    font-style: italic;
    height: 30px;
    vertical-align: top;
    text-align: right;
    padding: 0px 10px 0px 0px;
}


aside {
    float: left;
    background: #293133;
    width: 270px;
    padding: 2.5%;
    height: 86.75vh;
    color: Gainsboro;
/*    border-right: 5px solid #4d4d4d;*/
    border-top: 4px solid DarkGreen;
}

h3 {
    font-family:Impact;
}

.submit-bottom {
    float: right;
    background-color: #293133;
    color: #ff8800;
    text-shadow: 0px 0px 10px #000;
/*    font-family: Impact;*/
    font-size: 100%;
    font-family: 'mandoa_tadak';
    padding-top: 7px;
    border: 3px solid Green;
    border-radius: 12px;
    height: 50px;
    width: 100px;
}

div.align {
    font-size: 160%;
/*    vertical-align: 15px;*/
    margin-top: -2px;
}

div.add-label {
    display:none;
/*    font-size: 160%;
    font-family: Impact;
    vertical-align: 15px;*/
}

.submit-bottom:hover div.align {
    display:none;
}

.submit-bottom:hover div.add-label {
    display:block;
    font-size: 160%;
/*    font-family: 'mandoa_tadak';
    padding-top: 7px;*/
    font-family: Impact;
    margin-top: -5px;
}


main .features {
    float: left;
    color: #fff;
    text-align: left;
    width: 75%;
}

main .resp_dict_ext, .resp_dict_inn {
    color: Gainsboro;
}

.options {
    color: Gainsboro;
    text-shadow: 0px 0px 10px #0d1517
}

table.resp_dict_ext {
    table-layout: fixed;
/*    width: 100%;*/
    width: 1100px;
    border-collapse: collapse;
    border-top: 4px solid DarkGreen;
    border-left: 8px solid DarkGreen;
    text-align: center;
}

table.resp_dict_ext th:nth-child(1) {
    width: 15%;
    padding: 20px 0px;
/*    border: 2px solid SlateGrey;*/
}

table.resp_dict_ext th:nth-child(2) {
    width: 15%;
    padding: 20px 0px;
/*    border: 2px solid SlateGrey;*/
}

table.resp_dict_ext th:nth-child(3) {
    width: 40%;
    padding: 20px 0px;
/*    border: 2px solid SlateGrey;*/
}

table.resp_dict_ext th:nth-child(4) {
    width: 7%;
    padding: 10px 0px;
/*    border: 2px solid SlateGrey;*/
}

table.resp_dict_ext th:nth-child(5) {
    width: 17%;
    padding: 10px 0px;
/*    border: 2px solid SlateGrey;*/
}

table.resp_dict_ext th:nth-child(6) {
    width: 6%;
    padding: 10px 0px;
/*    border: 2px solid SlateGrey;*/
}


table.resp_dict_inn {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border-top: 3px solid SlateGrey;
    text-align: center;
    font-size: 85%;
}

table.resp_dict_inn td:nth-child(1) {
    font-size: 120%;
    font-weight: bold;
    width: 15%;
    padding: 0px 7px;
/*    border: 2px solid SlateGrey;*/
}

table.resp_dict_inn td:nth-child(2) {
    font-style: italic;
    width: 15%;
    padding: 0px 7px;
/*    border: 2px solid SlateGrey;*/
}

table.resp_dict_inn td:nth-child(3) {
    width: 40%;
    padding: 0px 7px;
/*    border: 2px solid SlateGrey;*/
}

table.resp_dict_inn td:nth-child(4) {
    font-style: italic;
    width: 7%;
    padding: 0px 7px;
/*    border: 2px solid SlateGrey;*/
}

table.resp_dict_inn td:nth-child(5) {
    font-size: 220%;
    font-family: 'mandoa_tadak';
    font-style: normal;
    width: 17%;
    padding: 0px 7px;
/*    border: 2px solid SlateGrey;*/
}

table.resp_dict_inn td:nth-child(6) {
    width: 6%;
    padding: 0px 7px;
/*    border: 2px solid SlateGrey;*/
}

/*-------------------------------------------------------------------*/
/* МАНДОР С ПОДСКАЗКОЙ ПРИ НАВЕДЕНИИ (в тексте словаря и грамматики) */
/*-------------------------------------------------------------------*/

.mandor_1 {
    display: inline-block;
    position: relative;
    font-size: 140%;
    font-family: 'mandoa_tadak';
    text-shadow: 0px 0px 10px #000;
    font-style: normal;
    color: orange;
    margin-top: -15px;
}

.mandor_1:hover::after {
    content: attr(translate);
    position: absolute;
    left: 0; right: 0; bottom: 10px;
    z-index: 1;
    background: #2c2c2c;
    color: SlateGrey;
    font-size: 70%;
    font-family: Sans-serif;
    font-style: italic;
}

.gray_italics {
    color: SlateGrey;
    font-style: italic;
}
/*-------------------------------------------------------------------*/


/*------------------------------------------------*/
/* ГРАММАТИКА */
/*------------------------------------------------*/

/* Оглавление грамматики (правый блок со ссылками) */
/*-----------------------------*/
.grammar_menu_box {
    width: 110%;
    height: 75.5vh;
    overflow-y: scroll; /* прокрутка по вертикали */
}

.grm_menu {
    margin-top: 15px; /* Отступ от верхнего блока родительского списка */
    padding-left: 0px; /* Отступ слева внутри области aside */
    list-style-type: none;
}

.grm_menu_point {
    font-size: 90%;
    list-style-type: none;
}

.block-2 {
    display: inline;
}

.grm_menu_btm {
    float: left;
    width: 10%;
    text-align: right;
}

.grm_menu_link {
    float: right;
    width: 90%;
}

.grm_menu_btm, .grm_menu_link {
    color: Orange;
    display: block;
    text-decoration:none;
    height: 1.5rem;
    padding: 0px 2px;
}

 .grm-submenu-link {
    color: Orange;
    display: block;
    text-decoration:none;
    max-height: 2.4rem;
 }

.grm-submenu {
    clear: left;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s;
    background: transparent;
}

.grm-submenu:target {
    max-height: 50rem;
}

.grm_menu_link {
    font-size: 110%;
}

.grm_menu_btm, .grm-submenu-link {
    font-size: 90%;
}

.grm-submenu-link {
    background: transparent;
    transition: background 0.2s ease-in;
    padding-left: 15%;
}
a.grm_menu_btm:hover, a.grm_menu_link:hover, a.grm-submenu-link:hover {
    color: #992900;
}


/*-----------------------------*/


/* Центральный блок со скролом */
/*-----------------------------*/
div.gr_main_scroll {
    height: 86.75vh; /* высота нашего блока */
    width: 1100px; /* ширина нашего блока */
    border-top: 4px solid DarkGreen;
    border-left: 8px solid DarkGreen;
    font-size: 85%;
    font-family: Sans-serif;
/*     overflow-x: scroll; прокрутка по горизонтали */
    overflow-y: scroll; /* прокрутка по вертикали */
    scroll-behavior: smooth;
}

div::-webkit-scrollbar {
    width: 4px; /* ширина для вертикального скролла */
    height: 4px; /* высота для горизонтального скролла */
}

div::-webkit-scrollbar-track {
  background: #293133; /* Цвет дорожки */
}

div::-webkit-scrollbar-thumb {
  background-color: DarkGreen; /* Цвет бегунка */
  border-radius: 20px; /* Округление бегунка */
/*  border: 2px solid #021D05; /* Оформление границ бегунка */
}
/*-----------------------------*/

/* Блок правила в грамматике */
div.gr_main_rule {
    margin: 25px;
    padding: 5px 20px;
    border: 2px dashed SlateGrey;
    text-align: center;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2); /* Красный, зеленый, синий, интенсивность (1 = 100%) */
}

/* Заголовок правила */
h5 {
  /*padding-top: 100px;
   margin-top: -100px;*/
   padding: 10px;
   font-style: italic;
/*   border: 1px solid red;*/
}

/* Блок абзаца внутри правила */
.indent {
   margin: 5px 0;
/*   border: 1px solid red;*/
}

/* Блок примера */
.example {
   margin: 5px 5px 20px 5px;
/*   border: 1px solid red;*/
}

/* Таблица примера */
table.grammar_example {
   margin: 10px auto; /* auto - размещение таблицы по центру по горизонтали */
}

/* Ячейки таблицы примера */
td.grammar_example_td {
/*   padding: 5px 20px 2px 20px;*/
   border: 2px solid DarkGreen;
}

table.grammar_example td:nth-child(1) {
   padding: 5px 20px 2px 20px;
}

table.grammar_example td:nth-child(2) {
   padding: 0px 20px;
}

/* Ячейки таблицы примера 4 ячейки с заголовком*/

.grammar_example_4 {
   margin: 15px auto;
}

.grammar_example_4_th {
   padding: 5px 20px;
   border: 2px solid DarkGreen;
   font-style: italic;
   font-size: 105%;
   color: SlateGrey;
}

.grammar_example_4_td {
  border: 2px solid DarkGreen;
}

table.grammar_example_4 td:nth-child(1), table.grammar_example_4 td:nth-child(3) {
    padding: 5px 20px 2px 20px;
}

table.grammar_example_4 td:nth-child(2), table.grammar_example_4 td:nth-child(4) {
   padding: 0px 20px;
}

/* Ячейки таблицы примера 6 ячейки с заголовком*/

.grammar_example_6 {
   margin: 15px auto;
}

.grammar_example_6_th {
   padding: 5px 20px;
   border: 2px solid DarkGreen;
   font-style: italic;
   font-size: 105%;
   color: SlateGrey;
}

.grammar_example_6_td {
  border: 2px solid DarkGreen;
}

table.grammar_example_6 td:nth-child(1), table.grammar_example_6 td:nth-child(3), table.grammar_example_6 td:nth-child(5) {
    padding: 5px 20px 2px 20px;
}

table.grammar_example_6 td:nth-child(2), table.grammar_example_6 td:nth-child(4), table.grammar_example_6 td:nth-child(6) {
   padding: 0px 20px;
}

/* Таблица модальных глаголов */

.grammar_example_7 {
   margin: 15px auto;
}

.grammar_example_7_th {
   padding: 5px 20px;
   border: 2px solid DarkGreen;
   font-style: italic;
   font-size: 105%;
   color: SlateGrey;
}

.grammar_example_7_th2 {
   padding: 5px 20px;
   border: 2px solid DarkGreen;
   font-style: italic;
   font-size: 95%;
   color: SlateGrey;
}

.grammar_example_7_td {
  border: 2px solid DarkGreen;
}

table.grammar_example_7 td:nth-child(1), table.grammar_example_7 td:nth-child(2),
table.grammar_example_7 td:nth-child(4), table.grammar_example_7 td:nth-child(6) {
    padding: 5px 20px 2px 20px;
}

table.grammar_example_7 td:nth-child(3), table.grammar_example_7 td:nth-child(5), table.grammar_example_7 td:nth-child(7) {
   padding: 0px 20px;
}


/* Таблица словообразования */
table.word_transformation {
   margin: 10px auto; /* auto - размещение таблицы по центру по горизонтали */
}

/* Ячейки таблицы словообразования */
td.word_transformation_th {
   padding: 5px 20px;
   border: 2px solid DarkGreen;
   font-style: italic;
   font-size: 105%;
   color: SlateGrey;
}

td.word_transformation_td {
   padding: 5px 20px 2px 20px;
   border: 2px solid DarkGreen;
}

table.word_transformation td:nth-last-child(1) {
   padding: 0px 20px;
}

/* Таблица предложения */
table.word_transformation1 {
   margin: 10px auto; /* auto - размещение таблицы по центру по горизонтали */
}

/* Ячейки таблицы предложения */
td.word_transformation1_th {
   padding: 5px 20px;
   border: 2px solid DarkGreen;
   font-style: italic;
   font-size: 105%;
   color: SlateGrey;
}

td.word_transformation1_td {
   padding: 5px 20px 2px 20px;
   border: 2px solid DarkGreen;
}

table.word_transformation1 td:nth-last-child(1) {
   padding: 0px 20px;
}

/* Таблица подлежащее */
table.subject {
   margin: 15px auto; /* auto - размещение таблицы по центру по горизонтали */
}

/* Ячейки таблицы подлежащее */
td.subject_th {
   padding: 5px 20px;
   border: 2px solid DarkGreen;
   font-style: italic;
   font-size: 105%;
   color: SlateGrey;
}

td.subject_td1 {
   padding: 5px 20px;
   border: 2px solid DarkGreen;
   font-style: italic;
}

td.subject_td {
   padding: 5px 20px 2px 20px;
   border: 2px solid DarkGreen;
}

td.subject_td2 {
   padding: 5px 20px;
   border: 2px solid DarkGreen;
}

table.subject td:nth-last-child(1), table.subject td:nth-last-child(4) {
   padding: 0px 20px;
}

table.subject td:nth-last-child(2), table.subject td:nth-last-child(3) {
    padding: 5px 20px 2px 20px;
}

/*-------------------------------------------------------------------*/
/* МАНДОР С ПОДСКАЗКОЙ ПРИ НАВЕДЕНИИ (в тексте словаря и грамматики) */
/*-------------------------------------------------------------------*/

.mandor_2 {
    display: inline-block;
    position: relative;
    font-size: 170%;
    font-family: 'mandoa_tadak';
    text-shadow: 0px 0px 10px #000;
    font-style: normal;
    font-style: normal;
    color: orange;
/*    vertical-align: -10px;*/
}

.mandor_2:hover::after {
    content: attr(translate);
    position: absolute;
    left: 0; right: 0; bottom: 15px;
    z-index: 1;
    background: #2c2c2c;
    color: SlateGrey;
    font-size: 55%;
    font-family: Sans-serif;
    font-style: italic;
}

table.grammar_mandor {
    margin: 10px auto;
}

table.grammar_mandor td:nth-child(1), table.grammar_mandor td:nth-child(4),
table.grammar_mandor td:nth-child(7), table.grammar_mandor td:nth-child(10) {
    padding: 5px 20px 2px 20px;
    text-shadow: 0px 0px 10px #000;
    font-size: 250%;
    font-family: "mandoa_tadak";
/*    color: #ff8800;*/
    color: Orange;
    border: 2px solid DarkGreen;
}

table.grammar_mandor td:nth-child(2), table.grammar_mandor td:nth-child(5),
table.grammar_mandor td:nth-child(8), table.grammar_mandor td:nth-child(11) {
    padding: 5px 15px 2px 15px;
    font-size: 90%;
    border: 2px solid DarkGreen;
    color: SlateGrey;
        font-weight: bold;
    font-style: italic;
}

table.grammar_mandor td:nth-child(3), table.grammar_mandor td:nth-child(6),
table.grammar_mandor td:nth-child(9), table.grammar_mandor td:nth-child(12) {
    padding: 5px 20px 2px 20px;
    font-size: 110%;
    font-weight: bold;
    border: 2px solid DarkGreen;
}

/*--------------------------------------------------------*/
/* Таблица местоимений */
/*--------------------------------------------------------*/
.pronouns {
   margin: 15px auto;
}

.pronouns td {
  border: 2px solid DarkGreen;
}

.pronouns td:nth-child(1), .pronouns td:nth-child(3) {
    padding: 5px 20px 2px 20px;
}

.pronouns td:nth-child(2), .pronouns td:nth-child(4) {
   padding: 0px 20px;
}
/*--------------------------------------------------------*/

/*--------------------------------------------------------*/
/* Таблица союзов */
/*--------------------------------------------------------*/
.unions {
   margin: 15px auto;
}

.unions_th {
   padding: 5px 20px;
   border: 2px solid DarkGreen;
   font-style: italic;
   font-size: 105%;
   color: SlateGrey;
}

.unions_td {
  border: 2px solid DarkGreen;
}

table.unions td:nth-child(1), table.unions td:nth-child(3) {
    padding: 5px 20px 2px 20px;
}

table.unions td:nth-child(2), table.unions td:nth-child(4) {
   padding: 0px 20px;
}
/*--------------------------------------------------------*/
